*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

.text-effect {
    color: black;
    text-shadow: 0 0 4px rgb(76, 70, 126);
}

body {
    background:linear-gradient(skyblue, pink);
}

#heading {
    margin-top: 30px;
}

#photo {
    width: 300px;
    border-radius: 50%;
    margin-top: 30px;
    border: 7px solid pink;

}

#basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yearsold {
    margin-top: 30px;
    background-color: pink;
    width: 150px;
    border-radius: 7px;
    padding: 7px 15px;
}

#date {
    margin-top: 20px;
    background-color: pink;
    width: 100px;
    border-radius: 4px;
    padding: 4px 8px;
}


.gift-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#gift1 {
    width: 500px;
    height: 500px;
    background-size: cover;
    margin-top: 30px;
    border: 7px solid white;
    border-radius: 30px;
    background-image: url("images/gift.png");
}

#gift1:hover {
    background-image: url("videos/happy-birthday.gif");
}

#gift2 {
    width: 500px;
    height: 500px;
    background-size: cover;
    margin-top: 30px;
    border: 7px solid white;
    border-radius: 30px;
    background-image: url("images/gift.png");
}

#gift2:hover {
    background-image: url("videos/wow-its-hot.gif");
}

#gift3 {
    width: 500px;
    height: 500px;
    background-size: cover;
    margin-top: 30px;
    border: 7px solid white;
    border-radius: 30px;
    background-image: url("images/gift.png");
}

#gift3:hover {
    background-image: url("videos/200w.gif");
}